// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.filterrific_spinner img
{
	width: 11px;
	height: 6px;
}

.description
{
	width:10%;
	float:left;
}

img
{
	height: auto; 
	width: 20%;
	float:left;
}

#footer
{
	clear:both;
	float:right;
}

.cart img
{
	width:3%;
}