// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$item-width: 15%;

#filterrific_filter
{
	padding: 10px 5px;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
    background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    box-shadow:#555 3px 3px 3px;
    margin-bottom:2%;
}

.filterrific_spinner img
{
	width: 11px;
	height: 6px;
}

#filterrific_results
{
	background:#C2C2C2;
	margin:0px auto;
	overflow: hidden;
	padding: 5px 0;
	position: inherit;
	text-shadow: 0 1px 0 black;
	width: 95%;
	div.item
	{
		border:inset #000 2px;
		box-shadow: #555 5px 3px 3px;
		padding:8px;
		background-color:#FFF;
		width: $item-width;
		margin-left:3%;
		margin-top:3%;
		height:290px;
		float:left;
		a:link
		{
			color: #666;
		}

		a:visited
		{
			color:#666;
		}

		p.description
		{
			float: left;
		}

		p.price_rating
		{
			clear:both;
		}

		img
		{
			width:40%;
			height: auto; 
			float: left;
		}

		#star img
		{
			width:$item-width;
		}
	}

	div.item:first-of-type
	{
		margin-left:0px;
	}
}